@import "../../app.scss";
.navbar
{
    height: 70px;
   background-color:#0F172A;
   span{
        font-weight: 1000;
    color: white;
    font-size: 15px;
            @include mobile{
        font-size: 0.6rem;
    }
   }
} 

.wrapper
{

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  
}



#img
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.link1
{
    display: flex;
    /* background-color: #fff; */
    width: 200px;
    align-items: center;
    gap: 10px;
    border: 1.5px solid orange;
    border-radius: 20px;
    justify-content: center;
        @include mobile{
        width: 120px;
      margin-left: 55px;
    }
}

.navbar span:hover {
  color:#F97316;
  b{
    color: white;
}
}

.navbar b:hover{
    color:white;
    span{
        color: orange;
    }
}
.myname
{
            @include mobile{
    margin-left: 90px;
    }
}