
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body{
  background-color: #0c0c1d;
  color: lightgray;
   overflow-x: hidden; /* disables horizontal scroll */
     scroll-behavior: smooth;
     width:100%;
     height: 100%;
}

html{

  scroll-snap-type: y mandatory;
  /* make scrolling move smoothly instaed of 
  jumping instantly */
  scroll-behavior: smooth;
 
}
@media (max-width: 738px) {
  html {
    scroll-behavior: none;
  }
}
section
{
  height: 100vh;
  /* Snapping = automatic alignment of scroll items to a neat position when scrolling stops. */
  scroll-snap-align: center;
     width: 100%;
      overflow-x: hidden; /* disables horizontal scroll */
}

a{
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
a:hover
{
  color: blue;
}

@mixin mobile {
  @media(max-width: 738px) {
    @content;    
  }
}

@mixin tablet {
  @media(max-width: 1024px) {
    @content;    
  }
}


@mixin desktop {
  @media(max-width: 1366px) {
    @content;    
  }
}