@import "../../app.scss";

.cursor
{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 3px solid orange;
    position: fixed;
    z-index: 99;
    @include mobile{
        display: none;
    }

}
